{# Parameters:
     res: Resource object;
     pkg: Package object;
     bt_class: Class for the button icon (eg. fa fa-download, fa fa-external-link, etc.)
     bt_text: Text for the button (eg. _('Download'))
#}

{% asset 'ckanext-ckanpackager/main-css' %}
{% asset 'ckanext-ckanpackager/main-js' %}

<a data-module="ckanpackager-download-link" class="packager-link btn btn-primary" data-module-resource-id="{{ res.id }}"
   data-module-is-record="false" href="{{ h.url_for_package_resource(pkg.id, res.id) }}">
  <i class="{{ bt_class }}"></i> {{ bt_text }}
</a>
