<div>
    <div class="ckanpackager-form">
        {% if c.userobj %}
            <p>{{ _('The resource will be extracted, with current filters applied, and an email will be sent to your registered address shortly.') }}</p>
        {% else %}
            <p>{{ _('The resource will be extracted, with current filters applied, and an email will be sent to the given address shortly.') }}</p>
            <input class="ckanpackager-email" type="text" name="email" placeholder="{{ _('Please enter your email address') }}" value="" />
        {% endif %}

        <div class="options">
            {{ _('Download') }}:
            <label for="page"><input id="page" type="radio" name="content" value="page" checked="checked"/> {{ _('this page only') }}</label>
            <label for="all"><input id="all" type="radio" name="content" value="all"/> {{ _('all') }} <span id="ckanpackager_total_records">?</span> {{ _('records') }}</label>
        </div>
        {% block action_buttons %}
            <a class="ckanpackager-send btn btn-primary" href="#">{{ _('Send') }}</a>
            <a class="ckanpackager-cancel btn btn-warning" href="#">{{ _('Cancel') }}</a>
        {% endblock %}
    </div>
</div>
