<div>
    <div class="ckanpackager-form">
        <form>
            <fieldset>
                <legend class="ckanpackager-form-legend">
                {% if is_record == 'true' %}
                {{ _('Please enter your email address below, and the record will be packaged and sent to you.') }}
                {% else %}
                {{ _('The resource will be extracted, with current filters applied, and an email will be sent to the given address shortly.') }}
                {% endif %}
                </legend>

                <input class="ckanpackager-email" type="text" name="email"
                       placeholder="{{ _('Please enter your email address') }}"
                       aria-label="{{ _('Please enter your email address') }}"
                       value="{{ c.userobj.email }}" />

                <div class="options limits">
                    {{ _('Download') }}:<br />
                    <label for="page">
                        <input id="page" type="radio" name="content" value="page" checked="checked"/>
                        {{ _('this page only') }}
                    </label>
                    <label for="all">
                        <input id="all" type="radio" name="content" value="all"/>
                        {{ _('all') }} <span id="ckanpackager_total_records">?</span> {{ _('records') }}
                    </label>
                    <br />
                </div>

                {% set formats = h.get_format_options(resource_id) %}
                {% if formats %}
                <div class="options">
                    {{ _('Format') }}:<br />
                    {% for format in formats %}
                        <label for="{{ resource_id }}-{{ format }}">
                            <input id="{{ resource_id }}-{{ format }}" type="radio" name="format"
                                   value="{{ format | lower}}"
                                   {% if loop.first %}checked="checked" {% endif %}/>
                            {{ format }}
                        </label>
                    {% endfor %}
                    <br />
                </div>
                {% endif %}

                {% block action_buttons %}
                <a class="ckanpackager-send btn btn-primary" href="#">{{ _('Send') }}</a>
                <a class="ckanpackager-cancel btn btn-warning" href="#">{{ _('Cancel') }}</a>
                {% endblock %}
            </fieldset>
        </form>
    </div>
</div>
