div.ckanpackager-form {
    background: #EBEBEB;
    padding: 4px;
}

.ckanpackager-align-right div.ckanpackager-form {
    border-radius: 4px 0px 4px 4px;
}

div.ckanpackager-tab{
    background: transparent;
}

div.ckanpackager-form a.btn {
  margin-right: 16px;
}

div.ckanpackager-form input {
    width: 95%;
}

div.ckanpackager-form div.options {
    text-align: left;
    vertical-align: middle;
    padding-bottom: 0;
}

div.ckanpackager-form div.options label {
    vertical-align:middle;
    font-weight: normal;
    display: inline-block;
    margin-left: 8px;
}

div.ckanpackager-form div.options label:after {
    content: "";
}

div.ckanpackager-form div.options input {
    width: auto;
    position: initial;
}

a.packager-link {
    display: block;
}

a.packager-link.packager-link-active,
a.packager-link.packager-link-active:hover {
    background-color: #EBEBEB;
    color: #000;
    cursor: default;
    display: block;
    height: 28px;
}

.actions li {
    vertical-align: top;
}